<nav id="topNav" class="navbar navbar-full navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            &#9776;
        </button>
        <div><a class="navbar-brand" href="/"><img src="/images/logo-white.png" title="QLD Revegetation Seed" alt="QLD Revegetation Seed" style="height: 90px; width: auto"></a></div>
        <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
            <ul id="navbarnav" class="nav navbar-nav" style="padding-top: 60px">
                <li class="nav-item" style="height: 100%">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/seed-list">Seed List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/plant-profiles">Plant Profiles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quality-assurance">Quality Assurance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/seed-science">Seed Science</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/links">Links</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <img src="/images/bottleTrees.jpg" title="Bottle trees, Near QLD Revegetation Seed" alt="Bottle trees, Near QLD Revegetation Seed" style="height: auto; width: 35vw; border-radius: 3%">
    </div>
</div>