<!DOCTYPE html>
<html lang="en">
    <head>
        <% include templates/head.ejs%>
        <meta name="description" content="QLD Revegetation Seed produce quality Australian native seed products used for mine site rehabilitation.">
    </head>

    <body data-spy="scroll" data-target="#navbar-example">
    <% include templates/nav.ejs%>

    <div class="container">
        <section id="one">
            <h3>Welcome to QLD Revegetation Seed!</h3>
            <br>
            <p>QLD Revegetation Seed produce quality Australian native seed products which can be used in a direct seeding program or controlled propagation environment; however we are primarily focused on servicing the needs of mining companies who undertake rehabilitation work on their sites. From ground level up our business has been designed and located for this primary purpose and the business model continues to develop in this vein. We have a growing database of <a href="/plant-profiles">plant knowledge</a> that we share with our customers which can be employed to help make the best use of our products.</p>

            <p>Please feel free to <a href="/contact-us">contact us</a> with any enquiries you may have concerning native seed products, their prices and availability.</p>

            <p>Note: If you are a producer of native seeds or even a newcomer in this respect then we would be pleased to hear from you. We can also give advice to people genuinely seeking to produce and trade in native seed products on a sustainable basis.</p>
        </section>

        <% include templates/footer.ejs%>
    </div> <!-- /container -->

    <% include templates/base.ejs%>
    </body>
</html>