<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs%>
    <meta name="description" content="Links to native seed merchants and related information resources similar to QLD Revegetation Seed">
</head>

<body data-spy="scroll" data-target="#navbar-example">
<% include templates/nav.ejs%>

<div class="container">
    <section id="one">
        <h3>Links</h3>
        <br>
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-lg btn-outline-info" onclick="window.open('http://www.nindethana.net.au/');">Nindethana Seed Service</button>
            </div>
            <div class="card-block">
                <p class="card-text">Nindethana supply an unparalleled selection of Australian Native Seeds.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-lg btn-outline-info" onclick="window.open('http://www.santosglng.com/media/pdf2831/field_guide_to_trees_and_shrubs_of_eastern_queensland_oil_and_gas_fields_2nd_edition.pdf');">A Field Guide To Trees And Shrubs Of Eastern Qld Oil And Gas Fields</button>
            </div>
            <div class="card-block">
                <p class="card-text">This is a very useful book which can be sourced online. The selection of plants contained therein are widely relevant for people working in revegetation.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-lg btn-outline-info" onclick="window.open('http://www.cmlr.uq.edu.au/');">Centre For Mined Land Rehabilitation</button>
            </div>
            <div class="card-block">
                <p class="card-text">CMLR produces research concerned with the environmental management of all types of mines. The website gives access to such research publications and an array of other industry relevant information.</p>
            </div>
        </div>

    </section>

    <% include templates/footer.ejs%>
</div> <!-- /container -->

<% include templates/base.ejs%>
</body>
</html>