<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs%>
    <meta name="description" content="QLD Revegetation Seed continues to develop and procure scientific knowledge of value to mine workers and contractors.">
</head>

<body data-spy="scroll" data-target="#navbar-example">
<% include templates/nav.ejs%>

<div class="container">
    <section id="one">
        <h3>Seed Science</h3>
        <br>
        <p>Queensland Revegetation Seed continues to develop and procure scientific knowledge of value to mine workers and contractors involved with site rehabilitation. For example we are making progress in the field of native seed scarification. Some trials are jointly conducted in collaboration with a local production nursery. These resources are made available to our clients.</p>
    </section>

    <% include templates/footer.ejs%>
</div> <!-- /container -->

<% include templates/base.ejs%>
</body>
</html>